
*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-container{
  width: 20%;
  height: 50%;
  background-color: blue;
  border: 1px solid cornflowerblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

}

.temp-contain{
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px white solid;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: 700;
}
button{

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button{
  font-size: 20px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
.high{
  transition-duration: 1s;
  background-color: rgb(245, 163, 122);
}
.cold{
  transition-duration: 1s;
  background-color: cornflowerblue;

}